.container {
    width: 100%;
    background: linear-gradient(to right bottom, #119992, #b5c6e0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
  height: 100vh;
    
}


.navbar {
    background: linear-gradient(to right bottom, #119992, #b5c6e0);
    position: fixed;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #ccc;
}
.card-para{
    text-align: end;
    font-size: larger;
    display: flex;
}
