/* App.css */
/* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
} */

.container {
    width: 100%;
    background: linear-gradient(to right bottom, #119992, #b5c6e0); /* Set the background color directly */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    min-height: 100%; /* Use min-height to ensure the container stretches to at least the height of the viewport */
}

.navbar {
    background: linear-gradient(to right bottom, #119992, #b5c6e0); /* Set the background color directly */
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.content {
    background: linear-gradient(to right bottom, #119992, #b5c6e0); /* Set the background color directly */
    height: calc(100% - 50px); /* Adjust height to account for the fixed header */
    width: 100%;
    padding: 25px;
    margin-top: 50px; /* Adjust margin-top to make space for the fixed header */
    overflow-y: auto; /* Enable vertical scrolling */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: calc(33.33% - 20px); /* Adjust the width of the cards based on the number of cards per row */
    margin-bottom: 20px;
    text-align: center;
}

.card-para {
    margin-top: 10px;
    font-size: 14px;
    text-align: end;
}

.scrollable-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Center the cards within the row */
    width: 100%;
}
