.container {
    padding-top: 64px; /* Adjust padding to accommodate fixed navbar */
    height: 100vh;
    overflow-y: auto; /* Enable vertical scrolling */
    background: linear-gradient(to right bottom, #119992, #b5c6e0);
    display: flex;
    height: 100vh;
}

.navbar {
    background: linear-gradient(to right bottom, #119992, #b5c6e0);
    position: fixed;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #ccc;
}

.scrollable-list {
    padding: 20px; /* Add padding to the list */
}
