* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  .container {
    height: 100vh;
    background: linear-gradient(to right bottom, #119992, #b5c6e0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    flex-direction: column;
  }
  .scrollable-list {
    max-height: 300px; /* Adjust the max-height as needed */
    overflow-y: auto;
  }
  
  .form-box {
    width: 100%;
    max-width: 900px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 40px 50px;
    margin-inline: 20px;
  }
  
  .form-box header h1 {
    text-align: center;
    color: black;
    font-family: century;
  }
  
  .form-box form {
    margin-block: 30px;
  }

  .navbar {
    position: fixed;
    width: 100%;
    background: linear-gradient(to right bottom, #119992, #b5c6e0);
    z-index: 1000;
    border-bottom: 1px solid #ccc;
    top: 0;
    left: 0;
}

.form-box {
    margin-top: 64px;
}