/* App.css */
.container {
    width: 100%;
    background: linear-gradient(to right bottom, #119992, #b5c6e0); /* Set the background color directly */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    min-height: 100vh; /* Use min-height to ensure the container stretches to at least the height of the viewport */
}

.navbar {
    background: linear-gradient(to right bottom, #119992, #b5c6e0); /* Set the background color directly */
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.content {
    background: linear-gradient(to right bottom, #119992, #b5c6e0); /* Set the background color directly */
    min-height: calc(100vh - 50px); /* Adjust min-height to account for the fixed header */
    width: 100%;
    padding: 25px;
    margin-top: 50px; /* Adjust margin-top to make space for the fixed header */
}

.card-container {
    display: flex;
    margin-top: 20px;
    gap: 10px; /* Adds space between cards */
    justify-content: center; /* Centers cards in the container */
}

.card {
    flex: 1 1 calc(25% - 20px); /* Flex-grow, flex-shrink, and flex-basis with gap consideration */
    margin: 10px;
    height: 200px; /* Adjust height as needed */
    background-color: #f0f0f0; /* Example background color */
    border: 1px solid #ccc; /* Example border */
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box; /* Ensures padding and border are included in the width/height */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .card {
        flex: 1 1 100%; /* Cards take full width on small screens */
    }
}


.card-para {
    margin-top: 10px;
    font-size: 14px;
    text-align: end;
}
